   <!--   <footer class="shop-content-footer">
      <hr>
      <div class="am-text-center am-text-xs am-margin-0">${footer.content!}</div>
    </footer>-->
    
<div class="footerbg">
  <div class="fuwu"><img src="${base}/statics/jfg_qt/images/test4.png"><img src="${base}/statics/jfg_qt/images/test4.png" ></div>
  <div class="footer-nav">
    <div class="logo_bot"><img src="${base}/statics/jfg_qt/images/logo.png" width="220px">
      <p><span>关注我们</span><img src="${base}/statics/jfg_qt/images/test3.png"><img src="${base}/statics/jfg_qt/images/test3.png"></p>
    </div>
    <div class="help">
      <dl>
        <dt><span>正品保证</span></dt>
        <dd><a href="#">正品保证</a><a href="#">廉价监督</a></dd>
      </dl>
      <dl>
        <dt><span>新手指南</span></dt>
        <dd><a href="#">购物流程</a><a href="#">支付方式</a><a href="#">通关税费</a><a href="#">常见问题</a></dd>
      </dl>
      <dl>
        <dt><span>售后服务</span></dt>
        <dd><a href="#">退货政策</a><a href="#">退货流程</a><a href="#">退货说明</a><a href="#">联系客服</a></dd>
      </dl>
      <dl>
        <dt><span>物流配送</span></dt>
        <dd><a href="#">配送方式</a><a href="#">配送服务</a><a href="#">运费标准</a><a href="#">物流跟踪</a></dd>
      </dl>
      <dl>
        <dt><span>联系我们</span></dt>
        <dd><a href="#">联系我们</a><a href="#">招商合作</a></dd>
      </dl>
    </div>
    <div class="ma"><img src="${base}/statics/jfg_qt/images/erweima.png" width="110px"> <span style="display:block;">扫描下载手机版</span></div>
  </div>
</div>
<div class="record">
  <p><a href="#" >公司简介</a>-<a href="#" >联系方式</a>-<a href="#" >友情链接</a>-<a href="#" >招聘信息</a>-<a href="#" >客户服务</a>-<a href="#" >隐私政策</a>-<a href="#" >网络营销</a>-<a href="#">网站地图</a></p>
  <p> <span><img src="${base}/statics/jfg_qt/images/test.png" height="25" width="25">公安备案：830108020086号</span><span>增值电信业务经营许可证： B2-10030183-3</span><span>网络文化经营许可证：网文[2015]0133-063号</span><span><b>&copy;</b>ABC版权所有</span></p>
  <p><img src="${base}/statics/jfg_qt/images/test1.png" height="30"><img src="${base}/statics/jfg_qt/images/test2.png" height="30"></p>
</div>
</div>