<!doctype html>
<html class="no-js fixed-layout">
<head>
    <% include("/common/shop_head.html"){}%>
    <!--index-->
    <link href="${base}/statics/jfg_qt/css/index.css" rel="stylesheet" type="text/css">
    <script src="${base}/statics/jfg_qt/js/index.js"></script>
    <!--banner-->
    <link rel="stylesheet" type="text/css" href="${base}/statics/jfg_qt/css/flexslider.css">
    <script src="${base}/statics/jfg_qt/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.category-sort').bind({
                mouseover: function () {
                    $(this).children('.category-detail').removeClass("am-hide").show();
                }, mouseout: function () {
                    $(this).children('.category-detail').hide();
                }
            });
            <!--banner-->
            $('.flexslider').flexslider({
                animation: "slide",
                slideshowSpeed: 4000,
                directionNav: true,
                controlNav: true,
            });
            <!--banner-->
        });
    </script>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
    <!-- content start -->
    <div class="shop-content">
        <div class="banner">
            <div class="flexslider">
                <ul class="slides">
                    <li> <img src="${base}/statics/jfg_qt/images/ad.jpg" /> </li>
                    <li> <img src="${base}/statics/jfg_qt/images/ad.jpg" /> </li>
                    <li> <img src="${base}/statics/jfg_qt/images/ad.jpg" /> </li>
                    <li> <img src="${base}/statics/jfg_qt/images/ad.jpg" /> </li>
                    <li> <img src="${base}/statics/jfg_qt/images/ad.jpg" /> </li>
                </ul>
            </div>
        </div>
        <div class="shop-content-body">
            <!--优惠信息-->
            <ul class="preferential">
                <li><a href="#"><img src="${base}/statics/jfg_qt/images/preferential_12.png"></a></li>
                <li><a href="#"><img src="${base}/statics/jfg_qt/images/preferential_14.png"></a></li>
                <li><a href="#"><img src="${base}/statics/jfg_qt/images/preferential_16.png"></a></li>
                <li><a href="#"><img src="${base}/statics/jfg_qt/images/preferential_18.png"></a></li>
            </ul>

            <!--每日新货-->
            <div class="layer" id="mrxh">
                <div class="indexTitle">
                    <p>每日新货</p>
                    <a href="#">更多好货&gt;</a></div>
                <ul class="newProduct">
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_03.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_05.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_07.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_09.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_05.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                </ul>
                <ul class="newProduct">
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_03.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_05.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_07.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_09.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                    <li><img src="${base}/statics/jfg_qt/images/newProduct_05.png"> <a href="#">MICHAEL KORS迈克高仕</a> <i>美式轻奢典范</i> <b>4.5折</b>
                        <p>¥1799<span>¥4000</span></p>
                    </li>
                </ul>
            </div>

            <!--精品区-->
            <div class="layer" id="jpq">
                <div class="indexTitle">
                    <p>精品区</p>
                    <a href="#">更多好货&gt;</a></div>
                <div class="delicateBox">

                    <div class="delicateAD">
                        <div><img src="${base}/statics/jfg_qt/images/ad.jpg"></div>
                        <ul class="delicate">
                            <li><a href="#"> <img src="${base}/statics/jfg_qt/images/delicate_26.png"> </a></li>
                            <li><a href="#"> <img src="${base}/statics/jfg_qt/images/delicate_29.png"></a></li>
                            <li><a href="#"> <img src="${base}/statics/jfg_qt/images/delicate_32.png"></a></li>
                        </ul>
                    </div>

                    <!--最新热卖-->
                    <div class="HotLayer">
                        <div class="HotTitle">最新热卖</div>
                        <div class="HotBox">
                            <div class="HotAnimate">
                                <ul class="Hot">
                                    <li><img src="${base}/statics/jfg_qt/images/hot_27.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_34.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_38.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_42.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="Hot">
                                    <li><img src="${base}/statics/jfg_qt/images/hot_27.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_34.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_38.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_42.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="Hot">
                                    <li><img src="${base}/statics/jfg_qt/images/hot_27.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_34.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_38.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                    <li><img src="${base}/statics/jfg_qt/images/hot_42.png">
                                        <div class="HotTxt"><a href="#">Avene 雅漾 舒护活泉水喷雾 300毫升 大喷</a>
                                            <p>¥86<span>¥185</span></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="HotBtn">
                            <li>
                                <p>●</p>
                            </li>
                            <li>
                                <p>●</p>
                            </li>
                            <li>
                                <p>●</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--底部广告-->
            <div class="tailAD"><img src="${base}/statics/jfg_qt/images/ad_47.png"></div>


           <!-- <%include("/shop/friend_link.html"){}%>-->
        </div>
        <%include("/shop/footer.html"){}%>
    </div>
    <!-- content end -->
</div>
</body>
</html>