@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; list-style: none; text-decoration: none; font-family: '微软雅黑'; }
/*位置*/
.location { overflow: hidden; width: 1090px; margin: 0 auto; margin-top: 6px; }
.location>li { float: left; line-height: 48px; font-size: 13px; color: #333; background: url(../images/ico_03.png) no-repeat right center; padding-right: 18px; margin-right: 7px; }
.location>li:last-child { background: none; }
/*品牌选择*/
.brandBox { width: 1088px; border: 1px solid #eaeaea; background: #fff; margin: 0 auto; }
.brandBox>li { overflow: hidden; }
.select_list { overflow: hidden; border-top: 1px dotted #eaeaea; padding-left: 90px; }
.select_list:first-child { border-top: none; }
.brandBox dl { position: relative; }
.brandBox dt { background: #f8f8f8; position: absolute; top: 0; left: -90px; line-height: 42px; font-size: 13px; background: #f8f8f8; width: 75px; padding-left: 15px; }
.brandBox dd { padding-left: 15px; float: left; display: inline; line-height: 42px; }
.brandBox a { cursor: pointer; line-height: 24px; font-size: 13px; color: #333; border: 1px solid #fff; display: block; margin: 8px 0; padding: 0 6px; }
.Choice { border: 1px solid #d22147 !important; color: #d22147 !important; }
/*筛选*/
.screeningBox { height: 36px; overflow: inherit; border: 1px solid #eaeaea; background: #fff; width: 1088px; margin: 10px auto; }
.screeningBox li { float: left; }
.screeningRight { float: right; }
.yespic { background: url(../images/ico.png) no-repeat 90% center; }
.screening { cursor: pointer; line-height: 35px; font-size: 12px; color: #333; padding: 0 30px; border: 1px solid transparent; border-right: 1px solid #eaeaea; }
.screeningClickUp { border: 1px solid #d22147; color: #d22147; background: url(../images/ico05.png) no-repeat 90% center; }
.screeningClickDown { border: 1px solid #d22147; color: #d22147; background: url(../images/ico04.png) no-repeat 90% center; }
.priceRangeOp { text-align: left; float: left; width: 42px; height: 18px; padding: 0 9px; color: #666; border: 1px solid #ddd; }
.priceRangeEd { text-align: left; float: left; width: 42px; height: 18px; padding: 0 9px; color: #666; border: 1px solid #ddd; margin-left: 4px; }
.screeningBox li>span { float: left; line-height: 36px; font-size: 12px; padding: 0 2px; color: #333; }
.screeningBox input[type='checkbox'] { float: left; width: 14px; height: 14px; border: 1px solid #ddd; margin-top: 12px; display: block; margin-left: 20px; }
.screeningBox input[type='checkbox']:first-child { margin-left: 20px; }
.goodsNumber { color: #838383; line-height: 36px; font-size: 12px; }
.goodsNumber span { color: #d20d2a; padding: 0 2px; }
.pages { font-size: 12px; line-height: 36px; margin: 0 20px; }
.pages span { color: #da2147; }
.screeningBoxLeft { margin-right: 6px; float: left; width: 20px; height: 20px; border: none; cursor: pointer; background: url(../images/ico_01.png) no-repeat center; color: #000; margin-top: 8px; display: block; margin-left: 2px; }
.screeningBoxRight { margin-right: 6px; float: left; width: 20px; height: 20px; border: none; cursor: pointer; color: #000; margin-top: 8px; display: block; margin-left: 2px; background: url(../images/ico_02.png) no-repeat center; }
.priceRange { overflow: hidden; margin-top: 4px; margin-left: 4px; border: 1px solid transparent; padding: 4px; }
.priceRangeClick { border: 1px solid #d22147; }
.priceRange span { float: left; line-height: 20px; padding: 0 3px; }
.priceRangeBtn { display: block; float: left; border: none; height: 20px; background: #d22147; color: #fff; padding: 0 10px; margin-left: 10px; display: none; }
/*商品列表*/
.goods { width: 1090px; margin: 0 auto; overflow: hidden; }
.goods>li { float: left; padding: 24px 13px; background: #fff; border: 1px solid #f3f3f3; margin: 1px; }
.goods>li:hover { border: 1px solid #da0000; }
.goods img { display: block; width: 242px; height: 200px; margin-bottom: 36px; }
.goodsTxt li { overflow: hidden; margin-bottom: 14px; }
.goodsTxt li:last-child { margin-bottom: 0; }
.goodsTxt p { font-size: 16px; color: #d22147; font-weight: bold; float: left; }
.goodsTxt p span { font-size: 12px; color: #999; padding: 0 4px; font-weight: normal; text-decoration: line-through; }
.goodsTxt b { float: right; font-weight: normal; font-size: 14px; color: #333; background: url(../images/liuyan_27.png) no-repeat left center; line-height: 16px; padding-left: 16px; }
.goodsTxt a { color: #333; font-size: 14px; }
.goodsTxt li:last-child a { color: #666; text-decoration: underline; }
/*页码*/
.pageNumber { width: 1090px; text-align: center; margin: 30px auto; overflow: hidden; }
.pageNumber>li { display: inline-block; margin: 0; }
.pageNumberSub { cursor: pointer; border: 1px solid #e3e3e3; background: #fff; line-height: 28px; padding: 0 10px; font-size: 12px; color: #333; }
.pageNumberBtn { cursor: pointer; border: 1px solid #e3e3e3; background: inherit; line-height: 28px; padding: 0 10px; font-size: 12px; color: #333; }
.pageNumberBtnClick { background: #d22147; border: 1px solid #d22147; color: #fff; }
/*商品位置*/
.locationGoods { width: 1090px; margin: 0 auto; margin-bottom: 20px; border-bottom: 1px solid #ddd; overflow: hidden; }
.locationGoods li { float: left; background: url(../images/ico_03.png) no-repeat right center; margin-right: 8px; padding-right: 18px; }
.locationGoods li:last-child { background: none; }
.locationGoods li a { font-size: 13px; color: #333; line-height: 54px; }
.locationGoods li:last-child a { color: #666; }
/*商品信息*/
.goodsBox { width: 1090px; margin: 0 auto; overflow: inherit; height: 488px; margin-bottom: 30px; }
.goodsImgBox { float: left; width: 402px; }
.goodsImg { width: 400px; height: 400px; position: relative; border: 1px solid #eee; }
.goodsImg img { display: block; width: 400px; height: 400px; position: absolute; left: 0; top: 0; display: none; }
.goodsImg img:first-child { display: block; }
.goodsBtnBox { height: 68px; width: 100%; position: relative; margin-top: 18px; }
.leftBtn { cursor: pointer; position: absolute; width: 33px; height: 64px; border: 1px solid #eee; left: 0; top: 0; background: url(../images/Imgbtn_07.png) no-repeat center; }
.rightBtn { cursor: pointer; position: absolute; width: 33px; height: 64px; border: 1px solid #eee; right: 0; top: 0; background: url(../images/Imgbtn_09.png) no-repeat center; }
.goodsLayer { width: 306px; left: 50%; margin-left: -153px; overflow: hidden; height: 66px; position: absolute; }
.goodsBtn { width: 99999px; position: absolute; left: 0; top: 0; overflow: hidden; }
.goodsBtn li { float: left; border: 1px solid #eee; width: 64px; height: 64px; margin-right: 14px; }
.goodsBtn li img { width: 64px; height: 64px; }
/*商品文字*/
.goodsThetxtBox { width: 659px; float: right; overflow: inherit; }
.goodsThetext li { margin-bottom: 15px; }
.goodsBrand { font-size: 13px; color: #717171; }
.goodsTitle { font-size: 18px; color: #333; font-weight: bold; }
.goodsInstructions { font-size: 12px; line-height: 20px; }
.price { background: #f9f9f9; border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; overflow: hidden; }
.price p { line-height: 85px; font-size: 14px; color: #666; margin-left: 12px; margin-right: 50px; float: left; }
.price span { line-height: 85px; font-size: 20px; color: #d22046; font-weight: bold; float: left; margin-right: 30px; }
.price b { float: left; font-weight: normal; line-height: 85px; font-size: 12px; color: #999; }
.price b i { font-style: normal; text-decoration: line-through; padding: 0 2px; }
.TheFreight { overflow: hidden; }
.TheFreight p { float: left; font-size: 13px; color: #666; width: 54px; margin-left: 11px; line-height: 22px; }
.TheFreight span { float: left; font-size: 13px; color: #666; margin-right: 12px; line-height: 22px; }
.address { float: left; border: 1px solid #ccc; height: 22px; margin-right: 12px; color: #333; font-size: 13px; }
.preferential { float: left; border: 1px solid #fff; height: 22px; margin-right: 12px; color: #333; font-size: 13px; }
.TheNumber { overflow: hidden; }
.TheNumber p { float: left; font-size: 13px; color: #666; width: 54px; margin-left: 11px; line-height: 22px; }
.TheNumber input[type='button'] { float: left; width: 22px; height: 22px; line-height: 18px; border: 1px solid #ccc; background: #fff; }
.TheNumber input[type='text'] { float: left; width: 35px; height: 20px; border: 1px solid #ccc; text-align: center; font-size: 13px; color: #333; border-left: none; border-right: none; }
.TheNumber span { float: left; margin-left: 9px; font-size: 12px; color: #333; line-height: 24px; }
.buyBox { overflow: inherit; height: 50px; margin: 35px auto; }
.buyBtn { float: left; margin-right: 26px; line-height: 46px; border: 1px solid #d41c44; background: #ffeced; font-size: 18px; color: #d41c44; font-weight: bold; padding: 0 42px; cursor: pointer; }
.shoppingCart { float: left; line-height: 46px; border: 1px solid #d22147; color: #fff; background: #d22147 url(../images/ico_06.png) no-repeat 30px center; padding-left: 56px; cursor: pointer; padding-right: 32px; font-size: 18px; font-weight: bold; }
.phoneBuy { float: left; margin-left: 22px; line-height: 48px; font-size: 14px; color: #666; padding-left: 20px; background: url(../images/ico_09.png) no-repeat left 19px; position: relative; }
.phoneBuy:hover .QrCode { display: block; }
.QrCode { position: absolute; left: 0; top: 38px; display: none; }
.collection { float: left; margin-left: 22px; line-height: 48px; font-size: 14px; color: #666; padding-left: 20px; background: url(../images/ico_09.png) no-repeat left center; }
.prompt { font-size: 13px; color: #666; }
.comments { font-size: 13px; color: #333; }
.comments span { font-weight: bold; padding-right: 2px; }
/*商品详情层*/
.goodsDataLayer { width: 1090px; margin: 0 auto; overflow: hidden; }
.pro_price { padding: 5px 10px; background: #f7f7f7; }
.pro_price p { line-height: 25px; font-size: 14px; }
.pro_price .p2 { line-height: 35px; }
.pro_price .vmid { font-weight: bold; color: #ce0000; font-size: 20px; }
.pro_price .s1 { display: inline-block; width: 70px; }
.pro_price .mline { text-decoration: line-through; color: #999 }
/*店铺信息*/
.information_three_title { background: #fff url(../images/dpleftbg_03.jpg) no-repeat center; text-align: center; height:30px; line-height:30px; padding-left: 0px !important; color: #fff !important; }
.dianpu_info { padding: 5px 10px; line-height: 25px; color: #686868; }
.dianpu_info p { font-size: 12px; }
.dianpu_logo { margin: 10px auto; }
.dianpu_logo img { display: block; width: 130px; height: 60px; margin: 10px auto; }
.dianpu_logo a { display: block; width: 124px; height: 25px; line-height: 25px; margin: 0 auto 5px; font-size: 12px; border-radius: 25px; text-align: center; }
.red { color: #ce0000; border: 1px solid #d22147; }
.danse{ color: #ce0000; border: 1px solid #d22147;}
/*其他商品*/
.goodsDataLeft { float: left; width: 178px; }
.otherGoodsBox { border: 1px solid #eaeaea; margin-bottom: 15px; }
.otherGoodsTilt { padding-left: 12px; font-weight: bold; line-height: 40px; color: #333; font-size: 16px; border-bottom: 1px solid #eaeaea; }
.otherGoods { width: 156px; margin: 0 auto; }
.otherGoods li { border-bottom: 1px solid #eaeaea; padding-bottom: 18px; margin-top: 18px; }
.otherGoods img { width: 156px; height: 156px; }
.otherGoods a { display: block; font-size: 12px; color: #333; line-height: 18px; }
.otherGoods p { font-size: 14px; color: #d22146; font-weight: bold; margin-top: 12px; margin-bottom: 2px; }
.otherGoods p span { padding-left: 6px; font-size: 12px; color: #666; text-decoration: line-through; font-weight: normal; }
.otherGoods b { font-weight: normal; font-size: 12px; color: #666; }
.otherGoods b i { font-style: normal; padding-right: 2px; }
.goodsDataRight { float: right; width: 890px; border: 1px solid #eaeaea; border-top: none; padding-bottom: 60px; }
.goodsDataLabel { border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; overflow: inherit; height: 48px; background: #f8f8f8; }
.goodsDataLabel li { float: left; border-right: 1px solid #eaeaea; }
.goodsDataLabel p { line-height: 48px; font-size: 14px; color: #333; padding: 0 42px; border-top: 2px solid transparent; cursor: pointer; }
.goodsDataLabel p span { color: #d41c44; padding: 0 3px; }
.goodsParameter { width: 100%; padding: 18px 0; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.goodsParameter li { float: left; width: 270px; margin-left: 20px; }
.goodsParameter p { line-height: 24px; font-size: 12px; color: #333; }
.goodsModule { width: 840px; margin: 10px auto; overflow: hidden; }
.goodsModule img { display: block; max-width: 100%; margin: 12px auto; }
.goodsModule p { text-indent: 2em; line-height: 20px; font-size: 14px; color: #666; }
/*浏览过的商品*/
.browseBox { float: right; width: 890px; margin-bottom: 40px; margin-top: 40px; }
.browseTitle { overflow: hidden; }
.browseTitle>p { float: left; line-height: 58px; font-size: 18px; font-weight: bold; color: #333; }
.browseBtn { float: right; margin-top: 20px; }
.browseBtn li { float: left; }
.browseLeft { cursor: pointer; background: url(../images/ico_01.png) no-repeat center; width: 8px; height: 20px; }
.browseRight { cursor: pointer; background: url(../images/ico_02.png) no-repeat center; width: 8px; height: 20px; }
.browseBtn p { padding: 0 6px; color: #333; font-size: 12px; line-height: 20px; }
.browseLayer { width: 890px; overflow: hidden; height: 306px; position: relative; }
.browse { position: absolute; left: 0; top: 0; width: 999999px; overflow: hidden; }
.browse li { float: left; width: 174px; border: 1px solid #eaeaea; height: 262px; padding: 21px 15px; margin-right: 22px; }
.browse img { width: 174px; height: 174px; display: block; margin-bottom: 10px; }
.browse a { line-height: 20px; font-size: 12px; color: #333; margin-bottom: 8px; display: block; }
.browse p { font-size: 14px; color: #e31436; font-weight: bold; }
.browse p span { font-size: 12px; color: #666; text-decoration: line-through; font-weight: normal; padding: 0 4px; }
.browse b { font-weight: normal; font-size: 12px; color: #666; }
.browse b i { font-style: normal; }
.messageBox { width: 890px; }
.message { width: 100%; overflow: hidden; border-bottom: 1px solid #eaeaea; min-height: 190px; padding-bottom: 10px; position: relative; }
.message:last-child { border-bottom: none; }
.messageLeft { float: left; width: 90px; }
.messageImg { margin: 0 auto; margin-top: 40px; width: 48px; height: 48px; border-radius: 50%; overflow: hidden; }
.messageImg img { width: 48px; height: 48px; }
.messageLeft a { font-size: 12px; color: #666; text-align: center; display: block; margin-top: 6px; }
.messageRight { float: left; width: 800px; margin-top: 60px; position: relative; }
.messageRight p { line-height: 20px; color: #333; font-size: 12px; }
.messageShow { overflow: hidden; margin-top: 6px; }
.messageShow li { float: left; margin-right: 6px; }
.messageShow img { display: block; width: 75px; height: 75px; }
.messageDate { position: absolute; right: 22px; top: 0; font-size: 12px; color: #666; }
.messagePraise { position: absolute; background: url(../images/praise_03.png) no-repeat 10px center; padding-left: 27px; padding-right: 11px; border: 1px solid #ccc; border-radius: 3px; bottom: 11px; left: 50%; line-height: 20px; font-size: 12px; color: #333; }
.goodsIndex { display: none; position: relative; }
/*商品详情 页码*/
.goodsPage { width: 100%; position: absolute; text-align: center; margin: 30px auto; overflow: hidden; bottom: -140px; }
.goodsPage>li { display: inline-block; margin: 0; }
.goodsPageSub { border: 1px solid #e3e3e3; background: #fff; line-height: 28px; padding: 0 10px; font-size: 12px; color: #333; }
.goodsPageBtn { border: 1px solid #e3e3e3; background: inherit; line-height: 28px; padding: 0 10px; font-size: 12px; color: #333; }
.goodsPageClick { background: #d22147; border: 1px solid #d22147; color: #fff; }
