body { min-width: 1090px; background: #fff; }
.red { color: #ff4c50 !important; }


/*侧边固定 开始*/
/*锚点 楼层*/
.anchorLayer{ display:none; position:fixed; left:50%; margin-left:-660px; top:100px; background:#fff; width:98px;  border:1px solid #ebebeb; border-bottom:none; }
.anchorLayer h3{ line-height:34px; text-align:center; font-size:13px;}
.anchorLayer li{ border-bottom:1px solid #ebebeb;}
.anchorLayer a{ font-size:12px; display:block; text-align:center; line-height:28px; color:#333;}
.anchorLayer img{ width:98px; height:98px;}

/*回到顶部 楼层*/
.TOPLayer{display:none; position:fixed; left:50%; margin-left:560px; top:100px; background:#fff; width:58px; border:1px solid #ebebeb; border-bottom:none; }
.TOPLayer li{ border-bottom:1px solid #ebebeb;}
.shoppingcartLink{  background:url(../images/index_03.png) no-repeat center 14px;  }
.shoppingcartLink a{ display:block;  line-height:28px; padding-top:32px; text-align:center; font-size:12px; color:#333;}
.loginLink{ padding:10px 0;}
.loginLink a{ display:block; text-align:center; line-height:18px; font-size:12px; color:#333;}
.GoTop{ cursor:pointer; padding-top:12px; background:#999 url(../images/index_07.png) no-repeat center 6px;}
.GoTop a{ display:block; text-align:center; font-size:12px; color:#fff; line-height:24px;}

/*侧边固定 结束*/


/*首页与通用1F*/
.top-banner { width: 100%; min-width: 1200px; height: 110px; margin: 0 auto; overflow: hidden; background-color: #dcd2d1; }
.top-banner .module { position: relative; margin-top: 0; }
.top-banner .module a { display: block; width: 1200px; height: 110px; }
.top-banner .module .close { position: absolute; display: block; width: 23px; height: 23px; top: 80px; right: 0; background: url(../images/close.png) no-repeat; cursor: pointer; }
/*网站头部公共区域 2F*/
#site_nav { margin-top: -19px; width: 100%; height: 32px; line-height: 32px; background-color: #f2f2f2; border-bottom: 1px solid #e5e5e5; color: #777; position: relative; z-index: 100001; }
#site_nav li { float: left; padding: 0 5px; }
.site_nav_box{ width:1090px !important; margin:0 auto;}
.dorpdown { position: relative; }
.xiangxia { display: inline-block; overflow: hidden; width: 0; height: 0; border: 0; border-top: 4px solid #777; border-left: 4px solid transparent; border-right: 4px solid transparent; vertical-align: middle; margin-left: 5px; }
#site-nav .sc-icon { float: left; line-height: 30px; }
#site-nav .sc-icon .sc-choie { float: left; padding: 0 5px; }
#site-nav .sc-icon .sc-choie { border: 1px solid #efefef; }
#site-nav .hover .sc-icon .sc-choie { background: #fff; border: solid #efefef; border-width: 1px; cursor: pointer; }
.dorpdown-layer { display: none; position: absolute; line-height: 24px; top: 30px; background: #fff; border: 1px solid #efefef; border-top: none; z-index: 9999 }
.hover .dorpdown-layer { display: block; }
.dd-spacer { position: absolute; height: 10px; background: #fff; overflow: hidden; }
.dorpdown-layer .wrap { width: 120px; height: auto !important; max-height: 210px; line-height: 20px; *line-height: 22px;
overflow: hidden; background: #fff; }
.dorpdown-layer .wrap dd { padding: 3px 5px; }
.dorpdown-layer .wrap dd a:hover { color: #555; }
.dorpdown-layer .wrap dd:hover { background-color: #efefef }
#site-nav .login { float: left; }
#site-nav .login span { float: left; }
#site-nav .login .link-login { float: left; }
#site-nav .red { color: #555; }
#site-nav ul { }
#site-nav li { float: left; }
/*3F*/
.header { background:#fff;}
.header_box{width:1090px !important; margin:0 auto;/*padding: 22px 0 22px 0;*/ overflow:hidden;}
.logo { }
.logo img { cursor: pointer; vertical-align: middle; left: 0; top: 10px; width: 276px; height: 60px; }
/*搜索框*/
.search_box { margin-left: 100px; }
.search_box li { line-height: 30px; color: #999; }
.search_box li a { color: #999; margin: 0 5px; }
.search_box li a:hover { color: #ff4c50 }
.search { background: url(../images/search_bg.gif) no-repeat; height: 36px; }
.search input { float: left }
.search .ipt1 { height: 30px; overflow: hidden; float: left; width: 425px; margin: 2px 0 0 2px; }
.search .ipt1 input { outline: 0; width: 100%; height: 23px; padding-left: 5px; line-height: 23px; color: #000; border: 0; padding: 5px 2px 5px 5px; }
.search .ipt2 { float: right; width: 60px; }
.search .ipt2 input { outline: 0; float: right; width: 60px; height: 35px; cursor: pointer; background: none; border: 0; }
/*购物车*/
.cart_info { float: right; height: 36px; border: 1px solid #ddd; }
.cart_info li { width: 120px; height: 34px; float: left; position: relative; display: inline; background: #fff url(../images/v.gif) no-repeat center left; background-position: 10px 10px; }
.cart_info li .top_cart { height: 34px; padding-left: 40px; line-height: 34px; cursor: pointer; }
.cart_info li .carts_num { clear: both; background: url(../images/num.png) no-repeat; width: 16px; height: 23px; line-height: 16px; text-align: center; color: #fff; position: absolute; top: 5px; right: 10px; font-size: 12px; font-weight: normal; padding-top: 7px; }
.cart_info li .shopborder { height: 34px; font-size: 15px; font-family: Microsoft Yahei; color: #747474; line-height: 34px; display: inline-block; }
.cart_info li .shopborder:hover { color: #ff4c50; }
.cart_info li .carts_num a { color: #fff; }
.cart_info li .carts_num a:hover { color: #CF6 }
/*4F 导航*/
.nav { height: 40px; border-bottom: 2px solid #333; background:#fff;}
.nav_box{width:1090px !important; margin:0 auto;}
.categorys { float: left; position: relative; z-index: 105; width: 190px; height: 40px; overflow: visible; }
.categorys .dt a { display: block; /*width: 160px;*/ height: 40px; font: 400 13px/40px "microsoft yahei"; padding-left: 30px; background: #2b2b2b; color: #fff; }
.categorys .dt i.icon { position: absolute; width: 20px; height: 20px; left: 5px; top: 8px; }
.icon-right { position: absolute; display: inline-block; width: 12px; height: 8px; background: url(../images/ecsc_icon.png) -263px -291px no-repeat; top: 11px; right: 10px; z-index: 1000; }
.categorys .dt .icon-right { top: 15px; right: 20px; background-position: -263px -308px; }
.categorys .up .icon-right { background-position: -278px -307px; }
.categorys .dd { height: 401px; background: url(../images/navbg.png); border-top:2px solid #000;  z-index: 99; }
/*2级导航*/
.categorys .dd .cata-nav { position: relative; top: -1px; padding-top: 1px; height: 400px; }
.categorys .dd .cata-nav .item { /*height: 30px;*/ }
.woman.categorys .dd .cata-nav .item { position: relative; }
.categorys .dd .cata-nav .item-left { position: relative; }
.categorys .item i { display: block; float: left; width: 20px; height: 20px; margin: 0 5px; margin-top: 5px; }
.cata-nav .selected .item-left { background: #818c8f; position: relative; z-index: 9; }
.categorys .cata-nav-name { overflow: hidden; color: #FFF; height:40px;}
.categorys .cata-nav-name * { line-height: 30px; }
.categorys .cata-nav-name a { color: #fff; }
.categorys .cata-nav-name h3 { font-weight: 400; width: 100%; }
.categorys .cata-nav-name h3 a { font-size: 13px; display: block;line-height: 40px; }
.cata-nav .selected h3 a, .cata-nav .selected h3 { color: #fff; }
.categorys .cata-nav-name span a { font-size: 12px; display: inline-block; float: left; }
/*3级菜单*/
.cata-nav-layer { display: none; background: url(../images/sub_ogobg.png); left: 190px; position: absolute; top: 0px; z-index: 999; border: 1px #333 solid; border-left: 0 none; width: 899px; height: auto; }
.cata-nav-layer .CategoryMenuPannel { float: left; width: 759px; background: #fff; }
.cata-nav-layer .sub-logo-con { float: left; width: 100px; padding: 0 20px; }
.cata-nav-layer .sub-logo-con img { width: 100px; height: 50px;vertical-align:bottom; display:block; border-bottom:1px solid #fafafa; }
.cata-nav-layer dl { width: 220px; float: left; margin: 0 16px; }
.cata-nav-layer dl dt { width: 100%; font-size: 12px; color: #333; line-height: 30px; border-bottom: 1px #e5e5e5 solid; font-style: normal; font-variant: normal; font-weight: 700; float: left; font-size-adjust: none; font-stretch: normal; }
.cata-nav-layer dl dd { width: 100%; line-height:30px; padding:8px 0; /*overflow: hidden;*/ color: #666; }
.cata-nav-layer dl dd a { float: left; color: #666; font-size: 12px; white-space: nowrap; }
.cata-nav-layer dl dd a:hover { color: #ff4c50; }
.cata-nav-layer dl dd span { float: left;  margin:0 3px;}
.height10{ height:10px;float: left; width: 759px; background: #fff; }
.height20{ height:20px;float: left; width: 759px; background: #fff; }
.height30{ height:30px; float: left; width: 100px;}
/*一级菜单*/
.navitems { float: left; position: relative; height: 40px; width: 900px; }
.navitems ul { margin-left: 20px; height: 40px; }
.navitems li { float: left; }
.navitems li a { font: 400 16px/34px "microsoft yahei"; font-weight: bold; display: inline-block; padding: 0 20px; color: #333; }
.navitems li a:hover { color: #ff4c50; }
.navitems li a.selected { color: #ff4c50; }
.active a { color: #ff4c50 !important; }
/*内容*/
#content { padding:0px; margin:0px; }
/*底部版权*/
.footerbg { background: #fff; }
.fuwu{ width:1090px; margin:0 auto; padding:35px 0;}
.fuwu img{ margin-right:35px;}
.footer-nav { width: 1090px; margin: 0 auto; padding-top: 35px; padding-bottom: 88px; border-top: 1px solid #ebebeb; background: #fff; line-height: 38px; color: #000; text-align: center; overflow: hidden; }
.logo_bot { float: left; width: 220px; margin: 0 20px; }
.logo_bot p { margin-top: 5px; }
.logo_bot p span { }
.logo_bot p img { vertical-align: middle; margin: 0 5px; }
.help { float: left; }
.help dl { float: left; width: 110px; height: 130px; padding-left: 25px;border-left: 1px solid #ddd;margin-top:auto !important; }
.help dl dt { color: #000; font-size: 16px; font-weight: 700; padding-bottom:10px;height: 30px; line-height: 30px; text-align: left; }
.help dl dd { text-align: left; }
.help dl a { display: block; overflow: hidden; text-align: left; height: 22px; line-height: 22px; color: #000; }
.help dl a:hover{color: #ff4c50;}
.ma { float: right; margin-right: 20px; line-height:20px; }
/**/
.record { background: #333; height: 125px; color: #c2c2c2; text-align: center; padding-top: 10px; }
.record p { line-height: 25px; }
.record a { color: #c2c2c2; margin: 0 5px; }
.record span { margin: 0 15px; }
.record b { font: 12px/1.5 tahoma, arial; }
.record img { vertical-align: middle; }